@import "tailwindcss";

/*===================================
	FONT VARIABLES
===================================*/
:root {
	--font-size-14: clamp(12px, 0.92vw, 14px);
	--font-size-16: clamp(13px, 1.042vw, 16px);
	--font-size-20: clamp(16px, 1.302vw, 20px);
	--font-size-60: clamp(40px, 3.906vw, 60px);
	--font-size-22: clamp(18px, 1.432vw, 22px);
	--font-size-30: clamp(24px, 1.953vw, 30px);
}

/*===================================
	        COMMON CSS
===================================*/
html {
	scroll-behavior: smooth;
}

body {
	@apply bg-zinc-900 text-zinc-50;
	color: #FFF;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	padding: 0px;
	margin: 0px;
}

body::-webkit-scrollbar {
	display: none;
}

a,
a.nav-link,
.btn {
	font-family: 'Inter', sans-serif;
	text-decoration: none;
	color: #FFF;
	font-weight: 400;
}

a,
button {
	-webkit-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}

a:hover,
a:focus,
a:active {
	outline: none;
	text-decoration: none;
}

button:hover,
button:focus,
button:active {
	outline: none;
	text-decoration: none;
}

ul li {
	list-style: none;
}

section {
	overflow: hidden !important;
}

.whiteImg {
	filter: brightness(0) saturate(100%) invert(1);
}


/*===================================
	CUSTOM SCROLLBAR & CLASSES
===================================*/
main {
	overflow: auto
}

.font-s-14 {
	font-size: clamp(12px, 0.92vw, 14px) !important;
}

.font-s-16 {
	font-size: clamp(13px, 1.042vw, 16px) !important;
}

.font-s-20 {
	font-size: clamp(16px, 1.302vw, 20px) !important;
}

.font-s-60 {
	font-size: clamp(40px, 3.906vw, 60px) !important;
}

.font-s-36 {
	font-size: clamp(26px, 2.344vw, 36px) !important;
}

/*===================================
	    TYPOGRAPHY CSS
===================================*/
.headline-1,
.headline-2 {
	/* @apply max-w-max; */
	background: -webkit-linear-gradient(0deg, #fafafa, #a1a1aa);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.headline-1 {
	@apply leading-tight font-semibold lg:leading-[1.15];
	font-size: clamp(30px, 3.581vw, 55px);
}

/*===================================
	        UTILITIES CSS
===================================*/
.material-symbols-rounded {
	@apply w-[1em] h-[1em] overflow-hidden;
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.container {
	@apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

.img-box {
	@apply bg-zinc-700;
}

.heroImg-wrap {
	right: calc(0% - 10px);
	height: 5px;
	width: 5px;
}

.img-cover {
	@apply w-full h-full object-cover;
}

/* Menu Button */
.menu-btn {
	@apply w-10 h-10 place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1 ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/15 transition-transform transition-colors active:scale-95;
}

/* Navbar */
.navbar {
	@apply absolute top-full mt-2 right-0 min-w-40 p-2 bg-zinc-50/10 rounded-2xl ring-inset ring-1 ring-zinc-50 scale-90 isolate blur-sm opacity-0 invisible transition-opacity transition-transform md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-[0] md:visible md:scale-100 backdrop-blur-2xl;
}

.navbar.active {
	@apply opacity-100 scale-100 blur-[0] visible;
}

.nav-link {
	@apply grid items-center h-9 px-4 text-sm font-medium tracking-wide text-zinc-50/50 hover:text-zinc-50 transition-colors
}

.nav-link.active {
	@apply text-zinc-900 duration-500
}

.navbar .active-box {
	@apply absolute bg-zinc-50 rounded-lg -z-10 duration-500;
}

.btn {
	@apply max-w-max h-9 items-center gap-2 px-4 rounded-xl font-medium ring ring-zinc-50/5 ring-inset transition-[background-color] cursor-pointer;
	font-size: clamp(12px, 0.91146vw, 14px) !important;
}

.btn-secondary {
	@apply bg-zinc-50 text-zinc-900 active:bg-zinc-50/80;
}

.btn .material-symbols-rounded {
	@apply text-[18px]
}

.btn:has(.material-symbols-rounded) {
	@apply pr-3
}

.btn-primary {
	@apply h-11 bg-sky-400 text-zinc-950 hover:bg-sky-300 active:bg-sky-400;
}

.btn-outline {
	@apply h-11 bg-zinc-800 hover:bg-zinc-700 active:bg-zinc-800;
}

.section {
	@apply pt-20 lg:pt-32;
}

.headline-2 {
	@apply text-3xl lg:leading-tight font-semibold;
}

.title-1 {
	@apply font-normal;
	font-size: var(--font-size-22)
}

.label {
	@apply block text-zinc-200 text-sm font-normal mb-2;
}

.text-field {
	@apply block outline-none w-full px-3 py-3 text-sm bg-zinc-800 rounded-lg ring-1 ring-inset ring-transparent transition-shadow hover:ring-zinc-50/5 focus:ring-sky-400 focus:ring-2;
}

.text-field::placeholder {
	@apply text-zinc-400;
}

/* .reveal-up {
	@apply translate-y-20 opacity-0
} */

.designation {
	margin: 7px 0 15px;
}

.seprattor {
	height: 5px;
	width: 5px;
	background: #FFF;
	border-radius: 50px;
	margin: 0 7px;
}

#home {
	background: linear-gradient(to bottom, #0f0f0f, #202020);
}

.section-title {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.03em;
	color: #D8D8D8;
	font-size: var(--font-size-30);
}

.section-title span {
	color: #0097CD;
}

.disabledProject {
	position: relative;
}

.disabledProject a {
	pointer-events: none;
}


.disabledProject a::after {
	content: '';
	position: absolute;
	top: 10px;
	left: 10px;
	background: url(/images/underMaintenceTag.svg) no-repeat center;
	background-size: contain;
	height: 38px;
	width: 150px;
}



.content-pera {
	font-weight: 300;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: #D8D8D8;
}

.rd-timeline-mark-light {
	@apply absolute top-[4px] right-[-4px] w-[23px] h-[23px] opacity-0 bg-[#fafafc] rounded-full transition-all duration-[400ms] ease-in-out;
}

.rd-timeline-item:hover .rd-timeline-mark-light {
	animation: 1s ease 0s infinite normal none running puls;
}

.rd-timeline-mark {
	position: absolute;
	top: 8px;
	right: 0px;
	width: 15px;
	height: 15px;
	box-shadow: rgba(15, 15, 20, 0.2) 0px 3px 8px 0px;
	border-radius: 50%;
	border-width: 3px;
	border-style: solid;
	border-color: #0097CD;
	border-image: initial;
	background: rgb(30, 30, 40);
}

.transition-fade .art-a {
	transform: scale(1);
	opacity: 1;
}

.rd-timeline-content {
	@apply relative mb-[30px] mr-[45px] shadow-md bg-gradient-to-br from-[#2d2d3a] to-[#2b2b35] p-[30px] rounded-[10px] min-h-[300px];
}

.rd-card-header {
	@apply w-full flex justify-between flex-wrap;
}

@media screen and (min-width:1024px) {
	.rd-left-side {
		max-width: calc(100% - 150px);
	}
}

.cardtitle {
	@apply text-zinc-300 font-bold tracking-[0.5px];
	font-size: var(--font-size-14);
}

.art-el-suptitle {
	@apply mt-[5px] text-zinc-500 italic text-[11px];
}

.rd-date {
	@apply text-zinc-400 ml-auto text-[10px] bg-[#20202A] px-[15px] py-[5px] rounded-[15px] shadow-inner;
}

.rd-timeline::before {
	content: "";
	@apply absolute top-[10px] right-[5px] h-[calc(100%-10px)] w-[5px] bg-[#252525];
}

.inner-text {
	@apply text-zinc-400 mb-3 max-w-[50ch];
	font-size: var(--font-size-16);
}

.expEdu-section ul li,
.expEdu-section .inner-text {
	@apply relative flex items-start pl-5;
}

.expEdu-section ul li::before,
.expEdu-section .inner-text::before {
	content: '';
	position: absolute;
	height: 15px;
	width: 15px;
	background: url(/images/icons/rightIcon.svg) no-repeat center;
	background-size: cover;
	left: 0;
	top: 5px;
	border-radius: 50px;
}

@keyframes puls {
	0% {
		transform: scale(0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}